@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    background: url('../../public/images/hero.jpeg') no-repeat center;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}